.row

	.eight.columns
		- unless @sessions.empty?
			%h1 Listing sessions

			%table
				%tr
					%th Volunteer
					%th Work times
					%th Actions


				= render :partial => "tr", :collection => @sessions, :as => "sesh"
			.admin
				%hr
				= link_to 'New Session', new_session_path
		- else
			%p No sessions found.
	.four.columns
		.panel
			%h4 Community Service
