// Place all the styles related to the Volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.volunteers
	width: 100%
	tr
		td
			color: #999

			span.name
				font:
					size: 1.5em
					color: black

			span.n_shops
				font:
					size: 1.2em
					color: black
