<!DOCTYPE html>
<html>
<head>
  <title>Cbs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>QCBS</h1>
<ul>
	<li><a href="/shops/current">Current</a></li>
	<li><a href="/shops">Shops</a></li>
	<li><a href="/volunteers">Volunteers</a></li>
	<li><a href="/sessions">Sessions</a></li>
</ul>
<%= yield %>

</body>
</html>
